{% extends "./base_generic.html" %}
{% block content %}
<div class="detail1" align="center">
{% if form.errors %}

    <ul class="list-group">
        <li class="list-group-item"> <p>Ваш логин и пароль не совпадают. Попробуйте снова</p></li>
    </ul>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
     <ul class="list-group">
        <li class="list-group-item">     <p>У вас нет доступа к этой странице</p></li>
    </ul>

  {% else %}
   <ul class="list-group">
        <li class="list-group-item">    <p>Войдите, чтобы просматривать эту страницу</p></li>
    </ul>

  {% endif %}
{% endif %}
 <ul class="list-group">
   <div align="center">
   <li class="list-group-item" >
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>Логин</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>Пароль</td>
  <td>{{ form.password }}</td>
</tr>
</table>
 </li>
</div>
       <li class="list-group-item" >   <button type="submit" class="btn btn-primary">Вход</button></li>
<input type="hidden" name="next" value="{{ next }}" />
</form>
   </ul>
</div>
{% endblock %}
